.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
  background-color: #e3f6f5;
}

.search {
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.search-input {
  font-size: 20px;
  height: 50px;
  border-radius: 30px 30px 0 0;
  border: 1px solid grey;
  text-align: center;
}

.search-button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 0 0 30px 30px;
  background-color: #272343;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #463f75;
}

.day-previews {
  display: flex;
  justify-content: space-around;
}

.day-preview {
  height: 300px;
  width: 300px;
  background-color: #bae8e8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-preview--icon {
  height: 160px;
  width: 160px;
}

.day-preview--temperature {
  display: flex;
  gap: 20px;
}

.day-details {
  align-self: center;
  width: 80%;
  background-color: #bae8e8;
}

.day-details--header {
  display: flex;
  justify-content: space-between;
}

.day-details--header--overview {
  width: 50%;
  display: flex;
  gap: 40px;
}

.day-details--header--location {
  width: 10%;
}

.day-details--timestamps {
  display: flex;
  justify-content: space-around;
}

.day-details--timestamp {
  display: flex;
  flex-direction: column;
  align-items: center;
}