.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
}

.search {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.search-input {
  font-size: 20px;
  height: 50px;
}

.search-button {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.day-previews {
  display: flex;
  justify-content: space-around;
}

.day-preview {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: rgb(197, 224, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-preview--icon {
  height: 160px;
  width: 160px;
}

.day-preview--temperature {
  display: flex;
  gap: 20px;
}

.day-details {
  align-self: center;
  width: 80%;
  background-color: rgb(197, 224, 233);
}

.day-details--header {
  display: flex;
  justify-content: space-between;
}

.day-details--header--overview {
  width: 50%;
  display: flex;
  gap: 40px;
}

.day-details--header--location {
  width: 10%;
}

.day-details--timestamps {
  display: flex;
  justify-content: space-around;
}

.day-details--timestamp {
  display: flex;
  flex-direction: column;
  align-items: center;
}